<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.korvi_000.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogginActivity"
            android:label="@string/loggin" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/reg" >
        </activity>
        <activity
            android:name=".IndexActivity"
            android:label="@string/index" >
        </activity>
        <activity
            android:name=".FunlistActivity"
            android:label="@string/funlist" >
        </activity>
        <activity
            android:name=".CalculatorActivity"
            android:label="@string/calculator" >
        </activity>
        <activity
            android:name=".DotActivity"
            android:label="@string/dot" >
        </activity>
        <activity
            android:name=".PhotoSwitchActivity"
            android:label="@string/photoswitch" >
        </activity>
    </application>

</manifest>
